@font-face {
    font-family: KenneyFuture;
    src: url(../fonts/KennyFuture.ttf);
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

body.covered {
    overflow: hidden;
}
body {
    margin: 0;
}
html, body, section {
    background-color: #081517;
}

section.hidden {
    display: none;
}

.cover {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;

    padding: 0 10px;
    margin: 0 auto;
    max-width: 1000px;
}
header {
    line-height: 125px;
    justify-content: center;
}
header > h1 {
    margin: 0;
    margin-left: 20px;
    font-size: 4em;
}
#logo {
	height: 100%;
    width: 100px;
}

header, main {
    display: flex;
    flex-direction: row;
}
main {
    margin-top: 15px;
}
main > section {
    width: 100%;
    text-align: center;
    margin: 0 25px;
    border: 2px solid #b4fff3;
    background-color: #052e37;
}

code.console {
    background-color: initial;
    color: #8dbcf1;
    text-shadow: 0px 0px 25px #1c3093;
    font-family: "VT323";
    font-size: 2.5em;
    padding: 0;
    line-height: 1.5em;
    user-select: none;
}
.cover > code.console {
    font-size: 3.5em;
}
#system-active, #countdown {
    color: #b4fff3;
    text-shadow: 0px 0px 25px #052e37;
}
#countdown {
    margin-top: 20px;
}
#countdown.hidden {
    display: none;
}

code.console::after {
    display: inline-block;
    opacity: 1;
    content: "";
    width: 0.4em;
    height: 0.8em;
    background-color: #b4fff3;
    position: relative;
    top: 0.1em;
    margin-left: 2px;
}
code.console.idle::after {
    animation: 1s blink infinite;
}
code.console.hide-cursor::after {
    display: none;
}

input[type="text"], input[type="email"] {
    font-family: KenneyFuture, monospace;
    font-size: 2rem;
	display: block;
	border: 0;
	background-color: transparent;
    border-bottom: 2px solid #b4fff3;
    color: #b4fff3;
    transition: border-color 0.5s;
	text-decoration: none;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

input[type="text"]:focus, input[type="email"]:focus {
	outline: none;
	/* background-color: transparent; */
    /* border-bottom: 2px solid #c32aff; */
	/* opacity: 0.8; */
}

input[type="text"]::selection {
  background: #b4fff3; /* WebKit/Blink Browsers */
  opacity: 1.0;
  color: black;
}

input[type="text"]::-moz-selection {
  background: #b4fff3; /* Gecko Browsers */
}

nav > .item {
    height: 74px;
    line-height: 74px;
    padding-left: 85px;
    background-repeat: no-repeat;
    background-size: 64px 74px;
    font-family: "KenneyFuture";
    font-size: 1.5em;
    color: #b4fff3;
    opacity: 0;
    cursor: pointer;
}
.divider {
    display: block;
    height: 74px;
    width: 64px;
    background-image: url("/assets/2017Website/TileBack.png");
    background-repeat: no-repeat;
    background-size: 64px 74px;
    margin-top: -15px;
    margin-bottom: -15px;
    position: relative;
}
.divider:nth-of-type(even) {
    left: -30px;
}
.divider:nth-of-type(odd) {
    left: 30px;
}
nav.show > .item {
    animation: 1s fade-in forwards;
}
/* CSS image preloading hack */
nav::after {
    display: none;
    content: url("/assets/2017Website/Tile2.png") url("/assets/2017Website/Tile2Highlight.png") url("/assets/2017Website/Tile3.png") url("/assets/2017Website/Tile3Highlight.png") url("/assets/2017Website/Tile4.png") url("/assets/2017Website/Tile4Highlight.png") url("/assets/2017Website/Tile5.png") url("/assets/2017Website/Tile5Highlight.png") url("/assets/2017Website/Tile6.png") url("/assets/2017Website/Tile6Highlight.png");
}

nav > .register {
    background-image: url("/assets/2017Website/Tile2.png");
    animation-delay: 100ms;
}
nav > .register:hover, nav > .register.active {
    background-image: url("/assets/2017Website/Tile2Highlight.png");
}

nav > .about {
    background-image: url("/assets/2017Website/Tile3.png");
    animation-delay: 200ms;
}
nav > .about:hover, nav > .about.active {
    background-image: url("/assets/2017Website/Tile3Highlight.png");
}

nav > .sponsor {
    background-image: url("/assets/2017Website/Tile4.png");
    animation-delay: 300ms;
}
nav > .sponsor:hover, nav > .sponsor.active {
    background-image: url("/assets/2017Website/Tile4Highlight.png");
}

nav > .atl {
    background-image: url("/assets/2017Website/Tile5.png");
    animation-delay: 400ms;
}
nav > .atl:hover, nav > .atl.active {
    background-image: url("/assets/2017Website/Tile5Highlight.png");
}

nav > .share {
    background-image: url("/assets/2017Website/Tile6.png");
    animation-delay: 500ms;
}
nav > .share:hover, nav > .share.active {
    background-image: url("/assets/2017Website/Tile6Highlight.png");
}

h1, p, a {
    font-family: "KenneyFuture";
    color: white;
}
a.button {
    display: inline-block;
    border-radius: 0px;
    border: 2px solid #b4fff3;
    background: none;
    text-decoration: none;
    padding: 10px;
}