@font-face {
    font-family: KenneyFuture;
    src: url(../fonts/KennyFuture.ttf);
}

body {
    margin: 0;
}

section.hidden {
    display: none;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #081517;

    display: flex;
    justify-content: center;
    align-items: center;
}

#intro-text {
    background-color: initial;
    color: #8dbcf1;
    text-shadow: 0px 0px 25px #1c3093;
    font-family: "VT323";
    font-size: 3.5em;
    padding: 0;
    line-height: 1.5em;
    user-select: none;
}

#intro-text::after {
    display: inline-block;
    opacity: 1;
    content: "";
    width: 0.4em;
    height: 0.8em;
    background-color: #b4fff3;
    position: relative;
    top: 0.1em;
}
#intro-text.idle::after {
    animation: 1s blink infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

input[type="text"], input[type="email"] {
    font-family: KenneyFuture, monospace;
    font-size: 2rem;
	display: block;
	border: 0;
	background-color: transparent;
    border-bottom: 2px solid #b4fff3;
    color: #b4fff3;
    transition: border-color 0.5s;
	text-decoration: none;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

input[type="text"]:focus, input[type="email"]:focus {
	outline: none;
	/* background-color: transparent; */
    /* border-bottom: 2px solid #c32aff; */
	/* opacity: 0.8; */
}

input[type="text"]::selection {
  background: #b4fff3; /* WebKit/Blink Browsers */
  opacity: 1.0;
  color: black;
}

input[type="text"]::-moz-selection {
  background: #b4fff3; /* Gecko Browsers */
}

